<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="topnav">
        <a href='/home'>Home</a>
        <a href="/about">About</a>
        <a href="/profile">Your Profile</a>
        <p class="logo_text">Football Prediction challenge</p>
        <a style="float:right" href="/logout">Logout</a>
    </div>
    <div style="height:50px"></div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>