{% extends "base.html" %}

{% block title %}Display Competition{% endblock %}

{% block content %}
<h1 style="display:inline; margin-right:25px">{{name}}</h1>
<p style="display:inline">Week {{week}}</p>
<p style="display:inline; margin-left:30px">{{join_code}}</p>

<hr>

<div style="float:right">
    {% if results %}
        <table>
            <tr>
                <th>Place</th>
                <th>User</th>
            </tr>
        {% for result in results %}
            <tr>
                <th>{{ result[0] }}</th>
                <th>{{ result[1] }}</th>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <p>This competition does not have any results yet</p>
    {% endif %}
</div>

<div>
    {% if picks_made %}
        <table>
            <tr>
                <th>Game</th>
                <th>Your pick</th>
            </tr>
            {% for pick in picks %}
                <tr>
                    <td>{{pick[1][1]}} @ {{pick[1][0]}}</td>
                    <td>{{pick[0]}}</td>
                </tr>
            {% endfor %}
        </table>
        <a href={{make_picks_link}}>Edit picks</a>
    {% else %}
        <p>You haven't made your picks yet</p>
        <a href={{make_picks_link}}>Make picks</a>
    {% endif %}

</div>

<hr>

<h3>Users</h3>
<div id="note_div">
    {% for participant in participating %}
        <p>{{participant}}</p>
    {% endfor %}
</div>

<br>

{% endblock %}