{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if admin %}
  <div style="margin-bottom:50px">
    <a href="/admin">Admin</a>
  </div>
{% endif %}

<div>
  <h2 style="margin-top: 0px;">Upcoming Competitions  -  Week {{nfl_week}}</h2>
  <div id="note_div">
      {% for name in competition_names %}
        <a class="note" href={{display_links[loop.index-1]}}>
          <div>
            <p class="note_text">{{name}}</p>
          </div>
        </a>
        <hr>
      {% endfor %}
  </div>
</div>
{% endblock %}