<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <script type="text/javascript">
      var binary_picks = '{{ binary_picks }}'
    </script>
    <script src="{{url_for('static', filename='picks.js')}}"></script>
    <title>Make Picks</title>
  </head>
  <body>
    <div class="topnav">
        <a href='/home'>Home</a>
        <a href='/create-competition'>Create Competition</a>
        <a href='/join-competition'>Join Competition</a>
        <a href="/about">About</a>
        <a href="/profile">Your Profile</a>
        <p class="logo_text">Football Prediction challenge</p>
        <a style="float:right" href="/logout">Logout</a>
    </div>
    <div style="height:50px"></div>
    <div id="content">
        <h2>Your Picks</h2>
        <div id="team_btns">
            <button id="btn_l_1" class="matchup_btn_l">{{matchups[0][0]}}</button>
            <button id="btn_r_1" class="matchup_btn_r">{{matchups[0][1]}}</button>
            <br>
            <button id="btn_l_2" class="matchup_btn_l">{{matchups[1][0]}}</button>
            <button id="btn_r_2" class="matchup_btn_r">{{matchups[1][1]}}</button>
            <br>
            <button id="btn_l_3" class="matchup_btn_l">{{matchups[2][0]}}</button>
            <button id="btn_r_3" class="matchup_btn_r">{{matchups[2][1]}}</button>
            <br>
            <button id="btn_l_4" class="matchup_btn_l">{{matchups[3][0]}}</button>
            <button id="btn_r_4" class="matchup_btn_r">{{matchups[3][1]}}</button>
            <br>
            <button id="btn_l_5" class="matchup_btn_l">{{matchups[4][0]}}</button>
            <button id="btn_r_5" class="matchup_btn_r">{{matchups[4][1]}}</button>
            <br>
            <button id="btn_l_6" class="matchup_btn_l">{{matchups[5][0]}}</button>
            <button id="btn_r_6" class="matchup_btn_r">{{matchups[5][1]}}</button>
            <br>
            <button id="btn_l_7" class="matchup_btn_l">{{matchups[6][0]}}</button>
            <button id="btn_r_7" class="matchup_btn_r">{{matchups[6][1]}}</button>
            <br>
            <button id="btn_l_8"  class="matchup_btn_l">{{matchups[7][0]}}</button>
            <button id="btn_r_8" class="matchup_btn_r">{{matchups[7][1]}}</button>
            <br>
            <button id="btn_l_9" class="matchup_btn_l">{{matchups[8][0]}}</button>
            <button id="btn_r_9" class="matchup_btn_r">{{matchups[8][1]}}</button>
            <br>
            <button id="btn_l_10"  class="matchup_btn_l">{{matchups[9][0]}}</button>
            <button id="btn_r_10" class="matchup_btn_r">{{matchups[9][1]}}</button>
            <br>
            <button id="btn_l_11"  class="matchup_btn_l">{{matchups[10][0]}}</button>
            <button id="btn_r_11" class="matchup_btn_r">{{matchups[10][1]}}</button>
            <br>
            <button id="btn_l_12"  class="matchup_btn_l">{{matchups[11][0]}}</button>
            <button id="btn_r_12" class="matchup_btn_r">{{matchups[11][1]}}</button>
            <br>
            <button id="btn_l_13"  class="matchup_btn_l">{{matchups[12][0]}}</button>
            <button id="btn_r_13" class="matchup_btn_r">{{matchups[12][1]}}</button>
            <br>
            <button id="btn_l_14"  class="matchup_btn_l">{{matchups[13][0]}}</button>
            <button id="btn_r_14" class="matchup_btn_r">{{matchups[13][1]}}</button>
            <br>
            <button id="btn_l_15"  class="matchup_btn_l">{{matchups[14][0]}}</button>
            <button id="btn_r_15" class="matchup_btn_r">{{matchups[14][1]}}</button>
            <br>
            <button id="btn_l_16"  class="matchup_btn_l">{{matchups[15][0]}}</button>
            <button id="btn_r_16" class="matchup_btn_r">{{matchups[15][1]}}</button>
            <br>
        </div>

        <button id="submit_picks_btn">Submit</button>
    </div>

    <p id="competition_id" style="display: none">{{competition_id}}</p>
    <p id="pick_1" style="display:none">{{binary_picks[0]}}</p>
    <p id="pick_2" style="display:none">{{binary_picks[1]}}</p>
    <p id="pick_3" style="display:none">{{binary_picks[2]}}</p>
    <p id="pick_4" style="display:none">{{binary_picks[3]}}</p>
    <p id="pick_5" style="display:none">{{binary_picks[4]}}</p>
    <p id="pick_6" style="display:none">{{binary_picks[5]}}</p>
    <p id="pick_7" style="display:none">{{binary_picks[6]}}</p>
    <p id="pick_8" style="display:none">{{binary_picks[7]}}</p>
    <p id="pick_9" style="display:none">{{binary_picks[8]}}</p>
    <p id="pick_10" style="display:none">{{binary_picks[9]}}</p>
    <p id="pick_11" style="display:none">{{binary_picks[10]}}</p>
    <p id="pick_12" style="display:none">{{binary_picks[11]}}</p>
    <p id="pick_13" style="display:none">{{binary_picks[12]}}</p>
    <p id="pick_14" style="display:none">{{binary_picks[13]}}</p>
    <p id="pick_15" style="display:none">{{binary_picks[14]}}</p>
    <p id="pick_16" style="display:none">{{binary_picks[15]}}</p>
  </body>
</html>